@font-face {
    font-family: 'hero';
    src: url('./fonts/hero-webfontkit/hero-regular-webfont.woff2') format('woff2'),
         url('./fonts/hero-webfontkit/hero-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    font-family: hero;
}

/* The header section of the page */
.header-container {  
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.nav-container {  
    display: flex;
    align-self: center;
    padding-top: 16px;
    padding-bottom: 50px;
}

.logo {
    width: 600px;
}

.header-nav {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    margin-left: auto;
}

.nav {
    text-decoration: none;
    color: white;
}

.nav:hover {
    text-decoration: underline;
    color: #3882f6;
}

.description-container {
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    margin-right: 100px;
    width: 600px;
    height: 333px;
}

.header-title {
    font-size: 39px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.header-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.header-img {
    width: 500px;
    height: 333px;
    background-color: grey;
    text-align: center;    
}

.signup.button { /* also used in the bottom section */
    width: 125px;
    height: 30px;
    background-color: #3882f6;
    border-radius: 6px;
    border: none;
    font-weight: 550;
    color: #f9faf8;
}

/* The main section of the page */
.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px 100px 0px;
}

.info-main {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.img-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.illustration-container {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.illustration-img {
    border: 2px solid #3882f6;
    border-radius: 24px;
    width: 200px;
    height: 200px;
}

.illustration-subtext {
    font-size: 16px;
    color: #1f2937;
    text-align: center;
}

/* The reviews section of the page */
.container-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    gap: 16px;
    padding: 120px 0px 100px 0px;
}

.review {
    width: 1000px;
    font-size: 36px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #1f2937;
}

.user {
    margin: 8px;
    padding-left: 32px;
    font-size: 24px;
    color: #484f58;
}

/* The signup part of the page */
.container-signup {
    display: flex;
    justify-content: center;
}

.container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 80px;
    background-color: #3882f6;
    border-radius: 8px;
}

.container-signup-info {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
}

.signup-header {
    font-size: 24px;
    color: #ffffff;
}

.signup-subtext {
    font-size: 16px;
    color: #e5e7eb;
}

.signup.button.outline {
    border: 2px solid #ffffff;
    margin-right: 100px;
    margin-left: auto;
}

/* The footer section of the page */
.content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: #1f2937;
    font-size: 12px;
    color: #e5e7eb;
    height: 50px;
}